<!--footer-->
<footer>
    <div class="bg-img-footer">
        <div class="container">
            <div class="row text-left text-white top-div">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h1>STAY WITH US</h1>
                    <div class="footer-content">
                        <p>It is a long established fact that a good reader on will be distracted by the by readable content of a page when looking at its layout.</p>
                    </div>
                    
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Favorite food" value="Your email" placeholder="Your email">
                        </mat-form-field>
             
                    <div class="subscribe">
                        <button>Subscribe</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h1>SERVICES</h1>
                    <div class="footer-content">
                        <a href="">Hire Studio</a>
                        <a href="">Outdoor Spot</a>
                        <a href="">Flexible Space</a>
                        <a href="">Production House Rent</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h1>IMPORTANT LINK</h1>
                    <div class="footer-content">
                        <a href="">About Us</a>
                        <a href="">Privacy Policy</a>
                        <a href="">Terms & Condition</a>
                        <a href="">Pricing of Filmcity</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h1>QUICK CONTACT</h1>
                    <div class="footer-content">
                        <p>Address: House. 4, Rosd. 7, East city. Orled. Sydney. Australya.</p>
                        <p>Phone: +8801912345678 +8801912345678</p>
                        <p>E-mail: www.filmcity@gmail.com filmcitycompany@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom">
                        <div class="footer-left">
                            <p class="text-white">Copyright © <a href="#" class="text-white">Ftage</a>. All Right Reserved.
                            </p>
                        </div>
                        <div class="site-icon">
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.google.com"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>