<!-- slider1-->
<div class="videos" *ngIf="logoActive1">
    <app-menu></app-menu>

    <iframe src="https://www.youtube.com/embed/xpgzmcMUv2U?autoplay=1&mute=1&fs=0&loop=1&controls=0" allow="fullscreen" scrolling="no" frameborder="0" allow="autoplay"></iframe>

    <div class="container">
        <div class="row">
            <div class="slide-content text-center col-lg-12 col-md-12 col-sm-12 animated fadeInUp">
                <h1>WAR OF OUR <span>SOULS</span></h1>
            </div>
        </div>
    </div>

    <div class="dot">
        <div class="logo1">
            <div class="logo-dot"><img src="../../assets/img/logo/dot.png" alt="" *ngIf="logo1" (click)="logoToggleOne()">

            </div>
            <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive1" alt=""></div>
        </div>

        <div class="logo2">
            <div class="logo-dot"><img src="../../assets/img/logo/dot.png" *ngIf="logo2" (click)="logoToggleTwo()">
            </div>
            <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive2" alt=""></div>
        </div>
        <div class="logo3">
            <div class="logo-dot"><img src="../../assets/img/logo/dot.png" *ngIf="logo3" (click)="logoToggleThree()">
            </div>
            <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive3"></div>
        </div>

    </div>
</div>

<!--slider 2-->
<div class="videos" *ngIf="logoActive2">
    <app-menu></app-menu>
    <iframe src="https://www.youtube.com/embed/isRHlgo5FfE?autoplay=1&mute=1&fs=0&controls=0&loop=1" frameborder="0" allow="autoplay"></iframe>
    <div class="container">
        <div class="row">
            <div class="slide-content text-center col-lg-12 col-md-12 col-sm-12 animated fadeInUp">
                <h1>WAR OF OUR <span>SOULS</span></h1>
            </div>
        </div>
    </div>
    <div class="logo1">
        <div class="logo-dot"><img src="../../assets/img/logo/dot.png" alt="" *ngIf="logo1" (click)="logoToggleOne()">
        </div>
        <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive1" alt="">
        </div>
    </div>
    <div class="logo2">
        <div class="logo-dot"><img src="../../assets/img/logo/dot.png" *ngIf="logo2" (click)="logoToggleTwo()"></div>
        <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive2" alt="">
        </div>
    </div>
    <div class="logo3">
        <div class="logo-dot"><img src="../../assets/img/logo/dot.png" *ngIf="logo3" (click)="logoToggleThree()"></div>
        <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive3"></div>
    </div>
</div>



<!--slider3-->
<div class="videos" *ngIf="logoActive3">
    <app-menu></app-menu>

    <iframe allowfullscreen src="https://www.youtube.com/embed/t433PEQGErc?autoplay=1&mute=1&fs=0&controls=0&loop=1" frameborder="0" allow="autoplay"></iframe>
    <div class="container">
        <div class="row">
            <div class="slide-content text-center col-lg-12 col-md-12 col-sm-12 animated fadeInUp">
                <h1>WAR OF OUR <span>SOULS</span></h1>
            </div>
        </div>
    </div>
    <div class="logo1">
        <div class="logo-dot"><img src="../../assets/img/logo/dot.png" alt="" *ngIf="logo1" (click)="logoToggleOne()">
        </div>
        <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive1" alt="">
        </div>
    </div>
    <div class="logo2">
        <div class="logo-dot"><img src="../../assets/img/logo/dot.png" *ngIf="logo2" (click)="logoToggleTwo()"></div>
        <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive2" alt="">
        </div>
    </div>
    <div class="logo3">
        <div class="logo-dot"><img src="../../assets/img/logo/dot.png" *ngIf="logo3" (click)="logoToggleThree()"></div>
        <div class="logo-dot active-logo"><img src="../../assets/img/logo/dot-active.png" *ngIf="logoActive3"></div>
    </div>
</div>
<app-search></app-search>

<!-- about -->
<div class="aboutHeader">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-9">
            <header class="text-center" animateOnScroll animationName="animated slideInRight">
                <h1 style="margin: 0px;">ABOUT US</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
            </header>
        </div>
    </div>
    <div class="row about" animateOnScroll animationName="animated zoomIn">
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 text-center  text-lg-center">
                <div class="icon">
                    <img src="https://seedthemes.com/i/icon-play.png" (click)="about()">
                </div>
                <div class="about_image">
                    <img src="../../assets/img/video_img/1.png" style="max-width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--top film-->
<div class="top-film-bg">
    <header animateOnScroll animationName="animated slideInLeft">
        <h1 class="text-white">
            <span> WATCH </span> MOVIES ONLINE</h1>
        <div class="separator"></div>
    </header>
    <div class="row" style="padding: 90px 0;">
        <!-- class="activeBtn" -->
        <div><button (click)="topFilm()">Top Rated</button></div>
        <div><button (click)="newFilm()">New Releases</button></div>
        <div><button (click)="comingFilm()">Coming Soom</button></div>
    </div>
</div>
<router-outlet></router-outlet>


<!--modal-->
<div class="modal-content" *ngIf="dialog">
    <div class="row" style="justify-content: center;">
        <div class="col-sm-12" class="iframe-video">
            <iframe src="https://www.youtube.com/embed/kGM4uYZzfu0?autoplay=1&mute=1&fs=0&loop=1&controls=0" frameborder="0"></iframe>
        </div>
        <i class="fa fa-close" (click)="close()"></i>
    </div>
</div>
<div class="modal-content" *ngIf="aboutDialog">
    <div class="row" style="justify-content: center;">
        <div class="col-sm-12" class="iframe-video">
            <iframe src="https://www.youtube.com/embed/kGM4uYZzfu0?autoplay=1&mute=1&fs=0&loop=1&controls=0" frameborder="0"></iframe>
        </div>
        <i class="fa fa-close" (click)="close()"></i>
    </div>
</div>

<!-- COMING SOON -->
<div class="bgColor">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 col-12 text-center" style=" margin: 80px 0;">
                <span class="hedText">COMING <span class="soon">SOON</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-center text-lg-left " animateOnScroll animationName="animated fadeInLeft">
                <div class="content-item animated zoomInLeft">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" class="dialog" (click)="this.dialog=!this.dialog">
                    </div>
                    <div class="pic-coming">
                        <img src="../../assets/img/video_img/2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 text-lg-left well1 " animateOnScroll animationName="animated fadeInRight">
                <div class="text">
                    <h2>Birds of Prey</h2>
                    <span class="dataFilm">
                        <p>Action, Adventure, Comedy</p> |
                        <p> US Release Date: February 7, 2020</p>
                    </span>
                    <p class="text2">Synopsis: After splitting up with The Joker, Harley Quinn and three other female superheroes - Black Canary, Huntress and Renee Montoya - come together to save the life of a little girl (Cassandra Cain) from an evil crime lord.
                    </p>
                    <span><b style=" color: #c7af6b;">Director:</b> Cathy Yan </span><br>
                    <span><b style=" color: #c7af6b;"> Starring:</b> Margot Robbie, Mary Elizabeth Winstead, Derek
                        Wilson</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn col-12 col-md-12 col-lg-6 text-center">
                <button [routerLink]="[ '/birds' ]">add to watchlist</button>
            </div>
        </div>
    </div>
</div>
<app-slidervideo></app-slidervideo>

<!--service-->
<div class="service">
    <div class="bgImage">
        <div class="container">
            <h1 style="color: white;">SERVICES</h1>
            <div class="row">
                <div class="col-sm-12 col-12 col-lg-12 col-md-12">
                    <div class="servis-flex">
                        <div class="service-single text-center" animateOnScroll animationName="animated slideInRight">
                            <div class="icon-service">
                                <i class='fa fa-arrows-alt'></i>
                            </div>
                            <div class="service-content">
                                <h4>EQUIPMENT HIRE</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                        <div class="service-single text-center" animateOnScroll animationName="animated slideInRight">
                            <div class="icon-service">
                                <i class='fa fa-play'></i>
                            </div>
                            <div class="service-content ">
                                <h4>EQUIPMENT HIRE</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                        <div class="service-single text-center " animateOnScroll animationName="animated slideInRight">

                            <div class="icon-service ">
                                <i class='fa fa-pause'></i>
                            </div>
                            <div class="service-content ">
                                <h4>EQUIPMENT HIRE</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--film-->
<div class="our-team">

    <div class="row">
        <header class="text-white" animateOnScroll animationName="animated zoomInLeft">
            <h1 class="text-white" style="margin: 0;">MOST POPULAR <span>MOVIE</span ></h1>
            <p >It is a long established fact that a reader will be distracted readable</p>
        </header>
    </div>
    <div class="" style="justify-content: center; margin-bottom: 74px;">
      <section class="slideshow">
        <div class="content">
            <div class="content-carrousel">
                <figure class="shadow"><img src="../../assets/img/video_img/mulan.jpg" alt="" (click)="open()"></figure>
                <figure class="shadow"><img src="../../assets/img/video_img/apollo.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/3.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/4.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/harli.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/5.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/6.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/7.jpg" alt="" (click)="open()"> </figure>
                <figure class="shadow"><img src="../../assets/img/video_img/8.jpg" alt="" (click)="open()"> </figure>
            </div>
          </div>
    </section>
</div>

<!--footer-->
<app-footer></app-footer>