<app-header></app-header>
<app-menu></app-menu>

<div class="modal-content" *ngIf="dialog">
    <div class="row" style="justify-content: center;">
        <div class="col-sm-12" class="iframe-video">
            <iframe src="https://www.youtube.com/embed/kGM4uYZzfu0?autoplay=1&mute=1&fs=0&loop=1&controls=0" frameborder="0"></iframe>
        </div>
        <i class="fa fa-close" (click)="close()"></i>
    </div>
</div>




<div class="container">
    <header>
        <h1>LATEST TRAILER</h1>
        <p>It is a long established fact that a reader will be distracted readable</p>
    </header>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/service/1.png">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>

            </mat-card>
        </div>

        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/service/2.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>

                </mat-card-header>
                <img mat-card-image src="../../../assets/img/service/3.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>
<div class="service">
    <div class="bgImage">
        <div class="container">
            <h1 style="color: white;">SERVICES</h1>
            <div class="row">
                <div class="col-sm-12 col-12 col-lg-12 col-md-12">
                    <div class="servis-flex">
                        <div class="service-single text-center" animateOnScroll animationName="animated slideInRight">
                            <div class="icon-service">
                                <i class='fa fa-arrows-alt'></i>
                            </div>
                            <div class="service-content">
                                <h4>EQUIPMENT HIRE</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                        <div class="service-single text-center" animateOnScroll animationName="animated slideInRight">
                            <div class="icon-service">
                                <i class='fa fa-play'></i>
                            </div>
                            <div class="service-content ">
                                <h4>EQUIPMENT HIRE</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                        <div class="service-single text-center " animateOnScroll animationName="animated slideInRight">

                            <div class="icon-service ">
                                <i class='fa fa-pause'></i>
                            </div>
                            <div class="service-content ">
                                <h4>EQUIPMENT HIRE</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/service/4.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>

                </mat-card-header>
                <img mat-card-image src="../../../assets/img/service/5.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>

            </mat-card>
        </div>

        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/service/6.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


    <!-- about -->
    <div class="aboutHeader">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-9">
                <header class="text-center" animateOnScroll animationName="animated slideInRight">
                    <h1 style="margin: 0px;">SERVICES US</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                </header>
            </div>
        </div>
        <div class="row about" animateOnScroll animationName="animated zoomIn">
            <div class="container">
                <div class="col-12 col-md-12 col-lg-12 text-center  text-lg-center">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" (click)="open()">
                    </div>
                    <div class="about_image">
                        <img src="../../assets/img/video_img/1.png" style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/service/3.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>

                </mat-card>
            </div>

            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/service/1.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/service/4.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
