<app-header></app-header>
<app-menu></app-menu>
<div class="container" style="display: flex;
    justify-content: center;">
    <div class="row slide-content text-center">
        <div class="  col-md-12 col-sm-12 animated fadeInUp">
            <h3><span style="color: #e2a750;">News</span> </h3>
        </div>
    </div>
</div>
<section class="container">
    <div class="row">
        <header>
            <h1>NEW FILM COLLECTION</h1>
        </header>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img src="../../../assets/img/news/7.jpg" alt="">
            <p class="text" animateOnScroll animationName="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprhendit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qei officia deser mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium.</p>
        </div>
        <div class="col-md-6 ">
            <img src="../../../assets/img/news/11.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img src="../../../assets/img/news/22.jpg" alt="">
        </div>
        <div class="col-md-12" animateOnScroll animationName="animated lightSpeedIn">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprhendit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qei officia deser mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium.</p><br><br>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprhendit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qei officia deser mollit anim id est laborum. </p>
        </div>
        <header class="col-lg-12 col-md-12 col-sm-12">
            <h1>MY RECENT NEWS</h1>
            <p>It is a long established fact that a reader will be distracted readable</p>
        </header>
    </div>
    <div class="images row" animateOnScroll animationName="animated zoomInLeft">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../../../assets/img/news/1.png">
            <p>A conversation about challange</p>
            <p> 26 Nov 2018 By Momen</p>
            <p class="separator"></p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../../../assets/img/news/2.png">
            <p>Passion depend only you</p>
            <p> 26 Nov 2018 By Momen</p>
            <p class="separator"></p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../../../assets/img/news/3.png">
            <p>Just a mistake can break all</p>
            <p> 26 Nov 2018 By Momen</p>
            <p class="separator"></p>
        </div>
    </div>
    <div class="images row" animateOnScroll animationName="animated zoomInLeft">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../../../assets/img/news/4.png">
            <p>A conversation about challange</p>
            <p> 26 Nov 2018 By Momen</p>
            <p class="separator"></p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../../../assets/img/news/5.png">
            <p>Passion depend only you</p>
            <p> 26 Nov 2018 By Momen</p>
            <p class="separator"></p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../../../assets/img/news/6.png">
            <p>Just a mistake can break all</p>
            <p> 26 Nov 2018 By Momen</p>
            <p class="separator"></p>
        </div>
    </div>
</section>
<app-footer></app-footer>