<app-header></app-header>
<app-menu></app-menu>
<div class="container" style="display: flex;
    justify-content: center;">
    <div class="row slide-content text-center">
        <div class="  col-md-12 col-sm-12 animated fadeInUp">
            <h3>Animation<span style="color: #e2a750;">Genre</span> </h3>
        </div>
    </div>
</div>
<div class="modal-content" *ngIf="dialog">
    <div class="row" style="justify-content: center;">
        <div class="col-sm-12" class="iframe-video">
            <iframe src=" https://www.youtube.com/embed/xFCrR3Uw6Mk?autoplay=1&mute=1&fs=0&loop=1&controls=0" frameborder="0"></iframe>
        </div>
        <i class="fa fa-close" (click)="close()"></i>
    </div>
</div>
<section class="header">
    <div class="container">
        <header animateOnScroll animationName="animated zoomIn">
            <h1>Animation Genre</h1>
            <h4>The animation genre is defined by inanimate objects being manipulated to appear as though they are living. This can be done in many different ways and can incorporate any other genre and sub-genre on this list. </h4>
        </header>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" animateOnScroll animationName="animated slideInLeft">
                <div class="content-item">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" (click)="openDialog()">
                    </div>
                    <div class="pic">
                        <img src="../../../../assets/img/video_img/anim1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 bg" animateOnScroll animationName="animated slideInRight">
                <h1> Addams Family</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium quis velit, explicabo placeat nobis inventore ipsa. Iusto eos eveniet recusandae doloribus. Fuga ullam quia unde rem debitis quidem </p>
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" animateOnScroll animationName="animated slideInLeft">
                <div class="content-item">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" (click)="openDialog()">
                    </div>
                    <div class="pic">
                        <img src="../../../../assets/img/video_img/anim4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 bg" animateOnScroll animationName="animated slideInRight">
                <h1>Abominable</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium quis velit, explicabo placeat nobis inventore ipsa. Iusto eos eveniet recusandae doloribus. Fuga ullam quia unde rem debitis quidem </p>
                <i class="fa fa-file-video-o" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" animateOnScroll animationName="animated slideInLeft">
                <div class="content-item">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" (click)="openDialog()">
                    </div>
                    <div class="pic">
                        <img src="../../../../assets/img/video_img/anim3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 bg" animateOnScroll animationName="animated slideInRight">
                <h1>Stolen</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium quis velit, explicabo placeat nobis inventore ipsa. Iusto eos eveniet recusandae doloribus. Fuga ullam quia unde rem debitis quidem </p>
                <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
        </div>
        <!--slider-->
        <app-slidervideo></app-slidervideo>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" animateOnScroll animationName="animated slideInLeft">
                <div class="content-item">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" (click)="openDialog()">
                    </div>
                    <div class="pic">
                        <img src="../../../../assets/img/video_img/anim2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 bg" animateOnScroll animationName="animated slideInRight">
                <h1>Drakon</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium quis velit, explicabo placeat nobis inventore ipsa. Iusto eos eveniet recusandae doloribus. Fuga ullam quia unde rem debitis quidem </p>
                <i class='fa fa-arrows-alt'></i>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" animateOnScroll animationName="animated slideInLeft">
                <div class="content-item">
                    <div class="icon">
                        <img src="https://seedthemes.com/i/icon-play.png" (click)="openDialog()">
                    </div>
                    <div class="pic">
                        <img src="../../../../assets/img/video_img/anim5.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 bg" animateOnScroll animationName="animated slideInRight">
                <h1>Minions</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium quis velit, explicabo placeat nobis inventore ipsa. Iusto eos eveniet recusandae doloribus. Fuga ullam quia unde rem debitis quidem </p>
                <i class='fa fa-play'></i>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>