<app-movie-header></app-movie-header>
<app-menu></app-menu>

<div class="container" style="display: flex;
    justify-content: center;">
    <div class="row slide-content text-center">
        <div class="  col-md-12 col-sm-12 animated fadeInUp">
            <h3>FACTS & <span style="color: #e2a750;">INFO</span> </h3>
        </div>
    </div>
</div>


<div class="container">
    <header class="gameofthronse">
        <h4>Maleficent 2</h4>
    </header>

    <section>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="movie-image">
                    <img src="../../../assets/img/video_img/malificent.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="details">
                    <app-icon-star></app-icon-star>
                    <span>
                        <h3>Genre: </h3>
                        Action
                    </span>
                    <span>
                        <h3>Release year:</h3>
                        <p>2019</p>
                    </span>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            <br> <br> Sed velit dignissim sodales ut eu sem integer. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="600" height="315" src="https://www.youtube.com/embed/nECEsjN_mOk?autoplay=0&mute=1" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}
                html,body{height:100%}
                img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}
                span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}
              </style>
              <a href=https://www.youtube.com/embed/nECEsjN_mOk?autoplay=0&mute=1>
                <img src='../../../assets/img/video_img/malificent_video.jpg' style='width: 535px'>
                <span><img src='https://seedthemes.com/i/icon-play.png' style='width:65px;
                  position: absolute;
                  left: 42%;'></span></a>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section>
        <div class="row" style="margin: 60px 0px;">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 text-center">
                <h1>ACTOR CAST</h1>
            </div>
        </div>
        <div class="row ">
            <!-- <div class="col-12"> -->
            <div class="col-12 col-md-6 col-xl-3 col-sm-12  card-image">
                <img src="../../../assets/img/actor/2.jpg" alt="">
                <p class="person-name">Emilia Clarke</p>
            </div>
            <div class="col-12 col-md-6 col-xl-3 col-sm-12 card-image">
                <img src="../../../assets/img/actor/3.jpg" alt="">
                <p class="person-name">Kit Harington</p>
            </div>
            <div class="col-12 col-md-6 col-xl-3 col-sm-12   card-image">
                <img src="../../../assets/img/actor/6.jpg" alt="">
                <p class="person-name">Sophie Turner</p>
            </div>
            <div class="col-12 col-md-6 col-xl-3 col-sm-12  card-image">
                <img src="../../../assets/img/actor/7.jpg" alt="">
                <p class="person-name">Richard Maden</p>
            </div>
            <!-- </div> -->
        </div>

    </section>
    <app-slider></app-slider>
    <app-add-comment></app-add-comment>
</div>

<app-footer></app-footer>