* {
    color: white;
}

section {
    position: absolute;
    z-index: 10;
    right: 35px;
    top: 10px;
}

.searchClass {
    background: white;
    margin-top: 39px;
    padding: 31px 15px;
    height: fit-content;
}

i {
    color: #c7af6b;
    position: absolute;
    right: 23px;
    height: 46px;
    font-size: 21px;
    top: 13px;
}

a {
    color: black;
    text-decoration: none;
}

input {
    outline: none;
}

input[type=text] {
    font-family: inherit;
    font-size: 100%;
}

input[type=text] {
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    /* width: 55px; */
    transition: all .5s;
}

input[type=text]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

a:hover {
    color: #c7af6b;
    text-decoration: none;
}

input[type=text] {
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

input[type=text]:hover {
    background-color: #fff;
}

input[type=text]:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
